h1{
    
    margin: 0;
    padding-right:350px;
    padding:50px;
    text-align:center;
    
}
footer{
    
    padding: 10px;
    bottom: 0;
    background-color: slategray;
    left: 0px;
    width: 100%;
}