<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>success...!</strong> Restaurant Delete succesfully......!.
  <button  (click)="clearAlert()"  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<table class=" table table-warning table-striped table-hover">
<thead>
        <tr>
            <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Email</th>
          <th scope="col">Delete</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collection">
          <th>1</th>
          <th>{{item.id}}</th>
          <th>{{item.name}}</th>
          <th>{{item.Address}}</th>
          <th>{{item.Email}}</th>
          <th><i (click)="deleteresto(item.id)" class="fa fa-trash" style="font-size:20px;color:red;"></i></th>
          <th><a routerLink="/Update/{{item.id}}"><i class="fa fa-edit" style="font-size:20px;color:blue"></i></a></th>
        </tr>
      </tbody>
  </table>
