<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>success...!</strong> User added succesfully......!.
    <button  (click)="clearAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
<form [formGroup]="resiresto" (ngSubmit)="register()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" style="color:white">Name</label>
      <input type="text" ngModel class="form-control" placeholder="Enter Your Name" formControlName="name" >
      <span class="error" *ngIf="name.invalid && name.touched">Name is Reqiured</span>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" style="color:white">Email</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Enter Email Address" >
      <span class="error" *ngIf="email.invalid && email.touched">Name is Reqiured</span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="color:white">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Enter Your Password" >
      </div>
    
    <button type="submit" style="color:white"  class="btn btn-primary" class="btn btn-success">Register</button>
  </form>
        </div>
    </div>
  </div>

  

